.nav-tabs {
  border-bottom: 0px;
  margin: 0px;
}
.slideshow{
  margin: 0 auto;
  width: 98%;
  display: flex;
  justify-content: space-around;
}
.slider-image-wrapper{
  height: 563px;
}
.slider-images{
  width: 100%;
  animation: image-reveal 1s ease-in-out forwards;
}
@keyframes image-reveal{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.arrow-wrapper{
  margin-top: 20%;
  padding: 0px;
  height: min-content;
}
/* this was taken from w3 schools in order to create the arrows style */
.arrows{
  border: solid blue;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 20px;
}
.arrows:hover{
  cursor: pointer;
}
#rightArrow{
  transform: rotate(-45deg);
  float: right;
}
#leftArrow{
  transform: rotate(135deg);
}
/* ^^^^^^^ check out above ^^^^^^^ */
.page-footer {
  margin-top: 6%;
  text-align: center;
}